@import "../mixins";
@import "../variables";

body {
  background-color: $primary-color-1 !important;
}

.main__cart {
  .card {
    border-radius: 1rem;
    background-color: #473d4c;
    color: $primary-color-2;

    i {
      color: $secondary-color-1;
    }

    .form-control:focus {
      box-shadow: none;
      border-color: inherit;
    }

    option {
      background-color: $secondary-color-3;
    }

    .btn-payment {
      overflow: hidden;
      z-index: 1;
      position: relative;
      transition: $default-transition;

      &::after,
      &::before {
        border-radius: 0;
      }

      &:hover {
        color: $primary-color-1 !important;
      }
    }

    .form-control::placeholder {
      font-size: 1rem;
      color: $primary-color-2;
    }

    @include button-transition($primary-color-1, $primary-color-2);
  }

  .help {
    button {
      overflow: hidden;
      z-index: 1;
      position: relative;
      transition: $default-transition;
      border: .01rem solid $primary-color-2;
    }
    @include button-transition(transparent, $secondary-color-3);
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}