$primary-color-1: #38303B;
$primary-color-2: #E2DBD4;
$secondary-color-1: #2B0F39;
$secondary-color-2: #481B68;
$secondary-color-3: #6A5975;
$secondary-color-4: #C2B4BE;
$secondary-color-5: #D0C5C8;
$default-transition: all .3s ease-in-out;