@import "./mixins";
@import "./variables";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  cursor: url(../cursors/normal.cur), auto !important;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: $primary-color-2;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  background-color: $secondary-color-1;
}

::-webkit-scrollbar-thumb {
  background-color: $secondary-color-4;
  border: 0.2rem solid $secondary-color-1;
  border-radius: 1rem;
}

::selection {
  background-color: $secondary-color-1;
  color: $primary-color-2;
}

a,
button,
li {
  cursor: url(../cursors/pointer.cur), pointer !important;
}

a {
  text-decoration: none;
}

button {
  border: none;
  outline: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

a,
p,
button {
  font:
    500 1rem/1.5rem "Open Sans",
    sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif !important;
  font-weight: 600 !important;
  text-transform: uppercase;
  position: relative;
}

h1,
h2 {
  font-size: 2rem !important;
}

.main__apresentation,
.main__why__floraweb,
.main__choose__bouquet,
.main__inside__house {
  padding-left: 6.7vw;
}

@media only screen and (width <= 1300px) {
  .main__apresentation,
  .main__why__floraweb,
  .main__choose__bouquet,
  .main__inside__house {
    padding-left: 4vw;
  }
}

img {
  image-rendering: pixelated;
}

ul {
  list-style: none;
}
