@import "./mixins";
@import "./variables";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  cursor: url(../cursors/normal.cur), auto !important;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: $primary-color-2;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  background-color: $secondary-color-1;
}

::-webkit-scrollbar-thumb {
  background-color: $secondary-color-4;
  border: 0.2rem solid $secondary-color-1;
  border-radius: 1rem;
}

::selection {
  background-color: $secondary-color-1;
  color: $primary-color-2;
}

a,
button,
li,
a img,
select,
input {
  cursor: url(../cursors/pointer.cur), pointer !important;
}

a {
  text-decoration: none !important;
  font-weight: 600 !important;
}

button,
input {
  border: none;
  outline: none;
  background-color: transparent;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

a,
p,
button,
table {
  font:
    500 1rem/1.5rem "Open Sans",
    sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif !important;
  font-weight: 600 !important;
  text-transform: uppercase;
  position: relative;
}

h1,
h2 {
  font-size: 2rem !important;
}

header {
  @include flex(row, space-between, center);
  margin: 3rem 4rem 4rem 4rem;
  padding-bottom: 2rem;
  color: $primary-color-2;
  border-bottom: 0.01rem solid $primary-color-2;

  .header__details {
    @include flex(row, center, center);
    gap: 1.5rem;

    img {
      cursor: url(../cursors/pointer.cur), pointer !important;
    }

    h2 {
      @include title__effect__one__line($secondary-color-3, 0.1rem, 100%);
    }
  }

  .header__actions {
    gap: 2rem;
    @include flex(row, center, center);

    .header__favorite {
      img {
        width: 2rem;
        height: 2rem;
      }
    }
  }
}

@media only screen and (width <= 660px) {
  header {
    margin: 3rem 1.5rem 1.5rem 1.5rem;

    .header__details {
      h2 {
        font-size: 1.5rem !important;
      }
    }
  }
}

@media only screen and (width <= 660px) {
  header {
    margin: 3rem 1rem 1rem 1rem;
  }
}

main {
  min-height: 100dvh;
}

.main__apresentation,
.main__why__floraweb,
.main__choose__bouquet,
.main__inside__house,
.main__contact,
.main__all__products,
footer {
  padding-left: 6.7vw;
}

@media only screen and (width <= 1300px) {
  .main__apresentation,
  .main__why__floraweb,
  .main__choose__bouquet,
  .main__inside__house,
  .main__contact,
  .main__all__products,
  footer {
    padding-left: 4vw;
  }
}

img {
  image-rendering: pixelated;
}

ul {
  list-style: none;
}

footer {
  @include flex(row, space-between, center);
  min-height: 40vh;
  padding-right: 5rem;
  padding-top: 4rem;
  padding-bottom: 5rem;
  background-color: rgba(106, 89, 117, 0.3);
  color: $primary-color-2;
}

@media only screen and (width <= 768px) {
  footer {
    flex-direction: column;
    padding: 4rem 0;
    gap: 1rem;

    .footer__content,
    .social__media {
      width: 100%;
    }

    .footer__content {
      align-items: center;
    }

    .payment__methods {
      place-items: center;
    }
  }
}

.footer__content {
  @include flex(column, center, flex-start);
  gap: 1rem;

  .payment__methods {
    padding: 0.5rem 0;

    p {
      margin: 0;
    }

    img {
      width: 1.375rem;
      height: 1.375rem;
      margin: 1rem 1rem 0 0;
    }
  }

  a {
    color: $primary-color-2;
    position: relative;
    transition: $default-transition;
    @include title__effect__one__line($secondary-color-3, 0.01rem, 102%);
  }

  .copyright {
    display: flex;
    gap: 0.3rem;
  }
}

.social__media {
  @include flex(column, space-evenly, center);
  height: 100%;
  gap: 1rem;

  p {
    margin-bottom: 1rem;
  }

  nav a {
    width: 1.3rem;
    height: 1.4rem;

    img {
      width: 100%;
      height: 100%;
    }
  }

  button {
    border: 0.1rem solid $primary-color-2;
    color: $primary-color-2;
    width: 13.5rem;
    height: 3rem;
    border-radius: 10rem;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: $default-transition;

    &:hover {
      color: $secondary-color-1;
    }
  }

  @include button-transition(transparent, $primary-color-2);
}

.social__media__content {
  @include flex(column, center, center);

  p {
    font-weight: bold;
  }

  nav {
    @include flex(row, space-between, center);
    width: 100%;
  }
}

.header.visible {
  .offcanvas-backdrop.show {
    top: -9px !important;
    left: -9px !important;
  }

  .offcanvas.offcanvas-end {
    height: 100vh;
    right: -11px;
    top: -9px;
  }
}

.offcanvas {
  background-color: $primary-color-1 !important;
}

.offcanvas-body ul {
  height: 70%;
  @include flex(column, space-evenly, flex-start);

  a {
    color: $primary-color-2;
  }
}
