.main__all__products {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 4rem 0 7rem 0;
  color: #E2DBD4;
}

.choose__bouquet__content {
  width: 25%;
  gap: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
.choose__bouquet__content h2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  z-index: 1;
}
.choose__bouquet__content h2::after, .choose__bouquet__content h2::before {
  background-color: #6A5975;
  opacity: 0.3;
  content: "";
  position: absolute;
  height: 0.9rem;
  left: -0.125rem;
  z-index: -1;
  transition: all 0.3s ease-in-out;
}
.choose__bouquet__content h2::after {
  width: 102%;
  bottom: 0;
}
.choose__bouquet__content h2::before {
  width: 93%;
  top: 1.6rem;
}
.choose__bouquet__content h2:hover::after {
  width: 0;
}
.choose__bouquet__content h2:hover::before {
  width: 0;
}

.choose__bouquet__list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 1.5rem;
  color: #6A5975;
  font-weight: 600;
}
.choose__bouquet__list li {
  transition: all 0.3s ease-in-out;
  font-family: "Open Sans", serif;
}
.choose__bouquet__list li:hover {
  color: #E2DBD4;
}

.choose__bouquet__list .choose {
  color: #E2DBD4;
  font-weight: bold;
  list-style: disc;
}

.bouquet__cards {
  width: 75%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  padding-right: 3rem;
  gap: 1.5rem;
}

.bouquet__card {
  width: 18rem;
  height: 28.25rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  background-color: rgba(106, 89, 117, 0.3);
  color: #2B0F39;
  position: relative;
  padding: 1rem 0;
  color: #E2DBD4;
}
.bouquet__card figure {
  position: absolute;
  top: 2rem;
  width: 16rem;
  height: 15rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.bouquet__card figure::after {
  content: "";
  position: absolute;
  width: 10.5rem;
  height: 10.5rem;
  top: 2rem;
  background-color: #38303B;
  border-radius: 100%;
  z-index: 0;
}
.bouquet__card figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  z-index: 1;
  transition: all 0.3s ease-in-out;
}
.bouquet__card figure img:hover {
  transform: rotate(20deg);
}
.bouquet__card p {
  font-size: 0.8rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.bouquet__card .price {
  font-size: 1.2rem;
  font-weight: bold;
}
.bouquet__card button {
  width: 12rem;
  height: 3.5rem;
  border-radius: 4rem;
  color: #C2B4BE;
  margin-top: 1rem;
  overflow: hidden;
  z-index: 1;
  position: relative;
  transition: all 0.3s ease-in-out;
}
.bouquet__card button:hover {
  color: #38303B;
}
.bouquet__card button:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #38303B;
  border-radius: 10rem;
  z-index: -2;
}
.bouquet__card button:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #D0C5C8;
  transition: all 0.3s;
  border-radius: 10rem;
  z-index: -1;
  transition: all 0.3s ease-in-out;
}
.bouquet__card button:hover:before {
  width: 100%;
}

.bouquet__card:nth-child(4) figure {
  right: 0;
}
.bouquet__card:nth-child(4) figure img:hover {
  transform: translateY(-1rem);
}/*# sourceMappingURL=style.css.map */